main {
    height: calc(100vh - 80px);
    background-color: $primary-color-dark;
    @include flex(row-reverse, center, center);
}

.alert {
    font-size: 0.8rem;
    color: rgb(158, 20, 20);

    & .input-box input {
        margin-top: 2px;
    }
}

.box {
    min-height: 70%;
    width: 30%;
    border-radius: 20px;
    padding: 20px;
    color: $font-color-dark;
    @include m-screen-box;
    
    li{
        margin-top: 20px;
    }

    nav {
        width: 100%;

        ul {
            @include flex(row, flex-start, center);

            li {
                font-size: 0.9rem;
                @include font-inter(300);
                margin-inline: 20px;

                p {
                    @include flex(column, center, center);
                    @include font-inter(400);
                    width: 80px;
                    @include line;

                    &:after {
                        width: 100%;
                        height: 3px;
                        margin-top: 3px;
                        background-color: $secondary-color-orange;
                    }

                    &:hover::after {
                        animation: none;
                    }
                }

                a {
                    text-decoration: none;
                    color: $font-color-dark-2;
                    @include flex(column, center, center);
                    @include font-inter(400);
                    width: 60px;
                    @include line;

                    &:after {
                        margin-top: 3px;
                        height: 3px;
                        background-color: $secondary-color-orange;
                    }
                }
            }
        }
    }

    form {
        padding: 20px;

        h1 {
            @include font-inter(300);
            font-size: 2.5rem;
            margin-top: 10px;
            @include m-screen(1600px) {
                margin-top: 30px;
                font-size: 2rem;
            }
            @include m-screen(1250px) {
                margin-top: 20px;
                font-size: 1.8rem;
            }
        }

        .input-box {
            height: 65px;
            @include flex(column, center, flex-start);
            width: 100%;
            padding: 10px;
            border-radius: 5px;
            background-color: $terciary-color-dark;
            border-left: solid 3px $terciary-color-dark;
            margin: 15px 0px;
            @include m-screen(1700px) {
                height: 55px;
            }

            &.focused {
                border-left: solid 3px $secondary-color-orange;
                border-radius: 0px 5px 5px 0px;
            }

            label {
                letter-spacing: 1.5px;
                @include font-inter(200);
                font-size: 0.8rem;
                color: $font-color-dark-2;
            }

            input {
                background-color: transparent;
                width: 100%;
                margin-top: 5px;
                outline: none;
                color: $font-color-dark;
                border: none;
                @include font-inter(400);
                font-size: 1rem;
            }

            div input:last-child {
                font-size: 1rem;
            }
        }

        .password {
            @include flex(row, flex-start, center);

            div {
                @include flex(column, center, flex-start);
            }

            .d1 {
                width: 95%;
                @include m-screen(1200px) {
                    width: 90%;
                }
            }

            .d2 {
                width: 5%;

                button {
                    height: 20px;
                    width: 20px;
                    border: none;
                    background-color: transparent;
                    background-position: center;
                    background-size: cover;
                    background-repeat: no-repeat;
                    filter: invert(100%);
                    cursor: pointer;
                }

                .show {
                    background-image: url("../../assets/icons/olho-1.png");
                }

                .hide {
                    background-image: url("../../assets/icons/olho-2.png");
                }

                @include m-screen(1200px) {
                    width: 10%;
                }
            }
        }
    }
}

p {
    width: 100%;
    @include flex(row, flex-end, center);

    a {
        text-decoration: none;
        color: $font-color-dark-2;
        @include font-inter(300);
        font-size: 0.8rem;
    }
}

.button-box {
    width: 100%;
    margin-top: 40px;
    @include flex(row, flex-start, center);

    button {
        height: 40px;
        width: 140px;
        background-color: $primary-color-orange;
        border: none;
        border-radius: 3px;
        @include font-inter(400);
        font-size: 0.9rem;
        color: $secondary-color-dark;
        border: solid 1px $primary-color-orange;
        cursor: pointer;
        transition: 0.1s linear;

        &:hover {
            background-color: $secondary-color-dark;
            color: $primary-color-orange;
        }
    }

    @include m-screen(1820px) {
        margin-top: 20px;
    }
    @include m-screen(600px) {
        @include flex(row, flex-end, center);
    }
}

#box1 {
    @include flex-center;
    height: 65%;
    img {
        height: 80%;
        transform: rotatey(180deg);
    }
    @include m-screen(1250px) {
        height: 75%;
        width: 30%;
    }
    @include m-screen(1250px) {
        height: 75%;
        width: 30%;
    }
    @include m-screen(1150px) {
        display: none;
    }
}

#box2 {
    background-color: $secondary-color-dark;
    @include m-screen(1150px) {
        background-color: $primary-color-dark;
    }
}
