main {
    height: calc(100vh - 80px);
    @include flex(row, flex-start, start);
    border-bottom: 1px solid #0000008f;

    .content {
        @include flex(row, flex-start, start);
        width: calc(100% - 300px);
        height: 100%;
        padding: 50px 20px 20px 100px;
        background-color: $primary-color-dark;

        .box {
            @include flex(column, flex-start, start);
        }

        @include m-screen(1000px) {
            padding: 50px 20px 20px 70px;
        }

        @include m-screen(700px) {
            @include flex(column-reverse, flex-start, start);
            padding: 50px 20px 20px 50px;
        }

        @include m-screen(350px) {
            padding: 50px 20px 20px 30px;
        }

        #box1 {width: 70%;
            h1 {
                font-size: 2rem;
                color: $secondary-color-orange;
                @include font-inter(700);
                @include m-screen(1400px) {
                    font-size: 1.8rem;
                }
                @include m-screen(1120px) {
                    font-size: 1.6rem;
                }
                @include m-screen(860px) {
                    font-size: 1.3rem;
                }
            }

            h2 {
                font-size: 1.3rem;
                color: $font-color-dark-2;
                margin-bottom: 60px;
                @include font-inter(300);
                
                @include m-screen(1400px) {
                    font-size: 1.1rem;
                }
                @include m-screen(1120px) {
                    font-size: 1rem;
                }
                @include m-screen(860px) {
                    font-size: 0.9rem;
                }
            }
            
            h3 {
                font-size: 1.5rem;
                color: $font-color-dark;

                @include font-inter(300);
                @include m-screen(1400px) {
                    font-size: 0.9rem;
                }
                @include m-screen(1120px) {
                    font-size: 0.8rem;
                }
                @include m-screen(860px) {
                    font-size: 0.7rem;
                }
            }   

            @include m-screen(1000px) {
                width: 60%;
            }

            @include m-screen(700px) {
                width: 100%;
                margin-bottom: 20px;
            }
            
            .inputUpload {
                position: relative;
                margin: 20px 0px 40px 0px;
                /* width: 400px; */
                height: 60px;
                border: 1px solid $font-color-dark-2;
                border-radius: 5px;
                padding: 0 10px;
                background-color: $primary-color-dark;
                color: $font-color-dark;
                @include font-inter(300);
                @include flex(row, flex-start, center);
                cursor: pointer;

                input {
                    width: 100%;
                    height: 100%;
                    opacity: 0;
                    cursor: pointer;
                    position: absolute;
                }

                label {
                    position: relative;
                    width: 100%;
                    height: 100%;
                    @include flex(row, flex-start, center);
                    cursor: pointer;
                }

                button {
                    background-color: $secondary-color-orange;
                    color: $font-color-light;
                    border: none;
                    border-radius: 5px;
                    padding: 10px 20px;
                    margin-left: 20px;
                    cursor: pointer;
                    z-index: 100;
                    @include font-inter(300);
                }
            }

            #getCurriculo {
                margin-top: 20px;
                @include font-inter(400);
                @include flex-center;

                p {
                    font-size: 1rem;
                    margin-right: 10px;
                    color: $font-color-dark;
                }

                button {
                    background-color: $secondary-color-orange;
                    color: $secondary-color-dark;
                    padding: 5px 10px;
                    border-radius: 5px;
                    border: none;
                }
            }

            ul {
                margin: 20px 0px 40px 0px;
                list-style: none;
                padding: 0;

                li {
                    @include flex(column, flex-start, start);
                    margin-bottom: 20px;

                    bold {
                        color: $font-color-dark;
                        @include font-inter(300);

                        @include m-screen(1400px) {
                            font-size: 1rem;
                        }
                    }

                    p {
                        font-size: 1rem;
                        color: $font-color-dark-2;
                        @include font-inter(300);

                        @include m-screen(1400px) {
                            font-size: 0.9rem;
                        }
                    }

                    a {
                        font-size: 1rem;
                        color: $secondary-color-orange;
                        @include font-inter(300);
                        text-decoration: none;

                        @include m-screen(1400px) {
                            font-size: 0.9rem;
                        }
                    }
                }
            }

            .logout {
                @include flex-center;
                padding: 5px 10px;
                background-color: $secondary-color-orange;
                border-radius: 3px;
                border: transparent 1px solid;
                cursor: pointer;

                img {
                    width: 20px;
                    margin-right: 10px;
                }

                &:hover {
                    box-shadow: 0px 0px 5px 2px $secondary-color-orange;
                }
            }
        }

        #box2 {
            width: 30%;

            .profile {
                @include flex(row, flex-start, start);
                margin-bottom: 40px;
                text-decoration: none;

                img {
                    height: 60px;
                    width: 60px;
                    background-color: $secondary-color-dark;
                    padding: 1px;
                    object-fit: cover;
                    border-radius: 50%;
                    margin-right: 20px;
                }

                .info {
                    @include flex(column, flex-start, start);

                    h3 {
                        font-size: 1.2rem;
                        color: $font-color-dark;
                        @include font-inter(300);
                    }

                    p {
                        font-size: 0.8rem;
                        color: $font-color-dark-2;
                        @include font-inter(300);
                    }
                }
            }

            .vinculos {
                h3 {
                    font-size: 1.2rem;
                    color: $font-color-dark;
                    @include font-inter(300);
                }
            }

            @include m-screen(1000px) {
                width: 40%;
            }

            @include m-screen(700px) {
                width: 100%;
            }
        }
    }
}
