main {
    height: calc(100vh - 80px);
    @include flex(row, flex-start, start);
    border-bottom: 1px solid #0000008f;

    .content {
        @include flex(row, flex-start, start);
        width: calc(100% - 300px);
        height: 100%;
        padding: 40px 20px;
        background-color: $primary-color-dark;

        @include m-screen(700px) {
            @include flex(column-reverse, flex-start, start);
            justify-content: flex-end;
        }

        .box {
            @include flex(column, flex-start, start);
        }

        #box1 {
            h1 {
                font-size: 2rem;
                color: $secondary-color-orange;
                @include font-inter(700);
                @include m-screen(1400px) {
                    font-size: 1.8rem;
                }
                @include m-screen(1120px) {
                    font-size: 1.6rem;
                }
                @include m-screen(860px) {
                    font-size: 1.3rem;
                }
            }

            h2 {
                font-size: 1.3rem;
                color: $font-color-dark-2;
                @include font-inter(300);
                margin-bottom: 60px;
                @include m-screen(1400px) {
                    font-size: 1.1rem;
                }
                @include m-screen(1120px) {
                    font-size: 1rem;
                }
                @include m-screen(860px) {
                    font-size: 0.9rem;
                }
            }

            width: 70%;

            @include m-screen(1000px) {
                width: 60%;
            }

            @include m-screen(700px) {
                width: 100%;
                margin-bottom: 20px;
            }

            .notfication-box {
                @include flex(row, flex-start, center);
                width: 90%;
                margin-bottom: 30px;
                padding: 20px;
                border-radius: 0px 20px 20px 0px;
                background-color: $secondary-color-dark;
                border-left: solid 3px $secondary-color-orange;

                .img-box {
                    width: 100px;
                    height: 100px;
                    @include flex-center;
                    margin-right: 20px;
                    img {
                        width: 70%;
                        height: 70%;
                    }
                }
                .info-box {
                    width: calc(100% - 120px);
                
                    h3 {
                        @include font-inter(700); 
                        font-size: 1.5rem;
                        color: $secondary-color-orange;
                    }

                    p{
                        @include font-inter(300); 
                        font-size: 1rem;
                        opacity: 0.5;
                    }

                    .button-box {
                        @include flex(row, flex-end, end);
                    
                        button{
                            background-color: transparent;
                            border: none;
                            @include font-inter(300);
                            color: $primary-color-orange;
                        }
                    }
                }
            }
        }

        #box2 {
            width: 30%;

            .profile {
                @include flex(row, flex-start, start);
                margin-bottom: 40px;
                text-decoration: none;

                img {
                    height: 60px;
                    width: 60px;
                    object-fit: cover;
                    border-radius: 50%;
                    margin-right: 20px;
                }

                .info {
                    @include flex(column, flex-start, start);

                    h3 {
                        font-size: 1.2rem;
                        color: $font-color-dark;
                        @include font-inter(300);
                    }

                    p {
                        font-size: 0.8rem;
                        color: $font-color-dark-2;
                        @include font-inter(300);
                    }
                }
            }

            .vinculos {
                h3 {
                    font-size: 1.2rem;
                    color: $font-color-dark;
                    @include font-inter(300);
                }
            }

            @include m-screen(1000px) {
                width: 40%;
            }

            @include m-screen(700px) {
                width: 100%;
            }
        }
    }
}
