main {
    height: calc(100vh - 80px);
    background-color: $primary-color-dark;
    @include flex(column, flex-start, flex-start);
    padding: 20px 100px;

    .editButtons {
        @include flex-center;
        z-index: 2;
        position: absolute;
        top: 10px;
        right: 10px;

        button {
            @include flex-center;
            margin-inline-end: 10px;
            background-color: transparent;
            border: none;
            border-radius: 5px;
            padding: 4px 6px;
            color: $font-color-dark;
            @include font-inter(700);
            box-shadow: 0px 0px 2px $font-color-dark-2;

            > * {
                margin-inline-end: 3px;
            }

            > img {
                height: 18px;
                width: 18px;
                object-fit: cover;
                filter: invert(100%);
            }

            &:hover {
                background-color: $primary-color-dark;
                box-shadow: 0px 0px 4px $font-color-dark-2;
            }
        }
    }

    .capa {
        // background-color: red;
        width: 100%;
        height: 400px;
        position: relative;

        .capaProfile {
            height: 66.66%;
            border-radius: 16px;
            background-color: $secondary-color-dark;

            > img {
                height: 100%;
                width: 100%;
                @include flex-center;
                object-fit: cover;
            }
        }

        .infoProfile {
            position: relative;

            .editButtons {
                @include flex-center;
                z-index: 2;
                position: absolute;
                top: 100px;
                right: auto;
            }
            @include flex(row, flex-start, center);
            > img {
                @include flex-center;
                position: absolute;
                bottom: 0;
                height: 250px;
                width: 250px;
                object-fit: cover;
                border-radius: 50%;
                background-color: $terciary-color-dark;
            }

            .info {
                @include flex(column, center, flex-start);
                margin-left: 250px;
                padding: 10px 20px;

                .box1 h1 {
                    @include font-inter(300);
                    font-size: 2rem;
                    color: $font-color-dark;
                }
                .box2 {
                    @include flex(row, flex-start, center);

                    p {
                        margin-inline-end: 10px;
                        @include font-inter(300);
                        font-size: 1rem;
                        color: $font-color-dark-2;
                    }
                }
            }
        }
    }

    .sobreMim {
        @include flex(column, flex-start, flex-start);
        width: 100%;

        h2 {
            @include font-inter(700);
            font-size: 1.5rem;
            color: $secondary-color-orange;
            margin: 20px 0px 10px 0px;
        }

        > div {
            position: relative;
            width: 100%;
            background-color: $secondary-color-dark;
            padding: 20px;
            border-radius: 18px;

            p,
            textarea {
                margin-inline-end: 10px;
                @include font-inter(300);
                font-size: 1rem;
                color: $font-color-dark-2;
                min-height: 300px;
            }

            textarea {
                background-color: transparent;
                border: none;
                outline: none;
                min-width: 100%;
                height: auto;
                resize: none;
            }
            > .editButtons {
                position: absolute;
                top: auto;
                bottom: 10px;
                right: 10px;
            }
        }
    }
}
