main {
    height: calc(100vh - 80px);
    background-color: $primary-color-dark;
    @include flex(row, flex-start, start);
    overflow: hidden;
    flex: 1;

    .content {
        @include flex(column, flex-start, start);
        padding: 20px 100px 40px 100px;
        width: calc(100% - 300px);
        flex: 1;
        height: calc(100vh - 80px);
        overflow-y: auto;

        @media (max-width: 1000px) {
            width: calc(100% - 100px);
        }

        @include m-screen(1300px) {
            padding: 20px 50px;
        }

        .editButtons {
            @include flex-center;
            z-index: 2;
            position: absolute;
            top: 10px;
            right: 10px;

            button {
                @include flex-center;
                margin-inline-end: 10px;
                background-color: transparent;
                border: none;
                border-radius: 5px;
                padding: 4px 6px;
                color: $font-color-dark;
                @include font-inter(700);
                box-shadow: 0px 0px 2px $font-color-dark-2;

                > * {
                    margin-inline-end: 3px;
                }

                > img {
                    height: 18px;
                    width: 18px;
                    object-fit: cover;
                    filter: invert(100%);
                }

                &:hover {
                    background-color: $primary-color-dark;
                    box-shadow: 0px 0px 4px $font-color-dark-2;
                }
            }
        }

        .capaEdit {
            @include flex(row, flex-end, start);
            position: absolute;
            top: 0;
            right: 0;
            width: 100%;
            height: 66.66%;
            border-radius: 6px;

            .inputUpload {
                @include flex(row, center, center);
                position: absolute;
                width: 100%;
                height: 100%;
                background-color: rgba(0, 0, 0, 0.664);

                input {
                    z-index: 2;
                    width: 100%;
                    height: 100%;
                    background-color: rgba(0, 0, 0, 0.664);
                    opacity: 0;
                }

                img {
                    z-index: 1;
                    position: absolute;
                    height: 40px;
                    width: 40px;
                    filter: invert(100%);
                }
            }

            button {
                margin: 10px;
                z-index: 3;
            }
        }

        .capa {
            width: 100%;
            height: 400px;
            position: relative;

            @include m-screen(1300px) {
                height: 300px;
            }

            .capaProfile {
                height: 66.66%;
                border-radius: 6px;
                background-color: $secondary-color-dark;

                > img {
                    height: 100%;
                    width: 100%;
                    border-radius: 6px;
                    @include flex-center;
                    object-fit: cover;
                }
            }

            .infoProfile {
                @include flex(row, flex-start, center);
                z-index: 2;
                position: relative;

                > img {
                    @include flex-center;
                    position: absolute;
                    bottom: 0;
                    height: 250px;
                    width: 250px;
                    object-fit: cover;
                    border-radius: 50%;
                    background-color: $terciary-color-dark;

                    @include m-screen(1300px) {
                        height: 200px;
                        width: 200px;
                    }
                }

                .inputUpload {
                    @include flex(row, center, center);
                    position: absolute;
                    height: 250px;
                    width: 250px;
                    background-color: rgba(0, 0, 0, 0.664);
                    position: absolute;
                    bottom: 0;
                    height: 250px;
                    width: 250px;
                    object-fit: cover;
                    border-radius: 50%;

                    @include m-screen(1300px) {
                        height: 200px;
                        width: 200px;
                    }

                    input {
                        z-index: 2;
                        width: 100%;
                        height: 100%;
                        background-color: rgba(0, 0, 0, 0.664);
                        opacity: 0;
                    }

                    img {
                        z-index: 1;
                        position: absolute;
                        height: 40px;
                        width: 40px;
                        filter: invert(100%);
                    }
                }

                .editButtons {
                    @include flex-center;
                    z-index: 2;
                    position: absolute;
                    top: 100px;
                    right: auto;

                    @include m-screen(1300px) {
                        top: 90px;
                    }
                }

                .info {
                    @include flex(column, center, flex-start);
                    margin-left: 250px;
                    padding: 10px 20px;

                    @include m-screen(1300px) {
                        margin-left: 200px;
                    }

                    .box1 h1 {
                        @include font-inter(300);
                        font-size: 2rem;
                        color: $font-color-dark;

                        @include m-screen(1300px) {
                            font-size: 1.6rem;
                        }
                    }
                    .box2 {
                        @include flex(row, flex-start, center);

                        p {
                            margin-inline-end: 10px;
                            @include font-inter(300);
                            font-size: 1rem;
                            color: $font-color-dark-2;
                        }
                    }
                }
            }
        }

        .sobreMim {
            @include flex(column, flex-start, start);
            width: 100%;

            h2 {
                @include font-inter(700);
                font-size: 1.5rem;
                color: $secondary-color-orange;
                margin: 20px 0px 10px 0px;
            }

            > div {
                position: relative;
                width: 100%;
                background-color: $secondary-color-dark;
                padding: 20px;
                border-radius: 6px;

                p,
                textarea {
                    margin-inline-end: 10px;
                    @include font-inter(300);
                    font-size: 1rem;
                    color: $font-color-dark-2;
                    min-height: 300px;
                }

                textarea {
                    background-color: transparent;
                    border: none;
                    outline: none;
                    min-width: 100%;
                    height: auto;
                    resize: none;
                }
                > .editButtons {
                    position: absolute;
                    top: auto;
                    bottom: 10px;
                    right: 10px;
                }
            }
        }

        .extracurriculares {
            margin-top: 40px;
            padding: 20px;
            background-color: $secondary-color-dark;
            border-radius: 10px;
            color: $font-color-dark;
            @include flex(column, flex-start, start);
            width: 100%;

            div {
                @include flex(row, flex-start, center);
            }

            .input-box {
                @include flex(row, center, center);
                width: 100%;
                padding: 10px;
                border-radius: 5px;
                background-color: $terciary-color-dark;
                border-left: solid 3px $terciary-color-dark;
                margin-right: 25px;

                &.focused {
                    border-left: solid 3px $secondary-color-orange;
                    border-radius: 0px 5px 5px 0px;
                }

                label {
                    letter-spacing: 1.5px;
                    @include font-inter(200);
                    font-size: 0.8rem;
                    color: $font-color-dark-2;
                }

                p {
                    background-color: transparent;
                    width: 90%;
                    margin-top: 5px;
                    outline: none;
                    color: $font-color-dark;
                    border: none;
                    @include font-inter(400);
                    font-size: 1rem;
                    @include flex(row, flex-start, center);
                }

                input {
                    background-color: transparent;
                    width: 100%;
                    margin-top: 5px;
                    outline: none;
                    color: $font-color-dark;
                    border: none;
                    @include font-inter(400);
                    font-size: 1rem;
                }

                textarea {
                    background-color: transparent;
                    border: none;
                    width: 100%;
                    outline: none;
                }

                .d1 {
                    width: 95%;
                }

                .d2 {
                    width: 5%;

                    button {
                        height: 20px;
                        width: 20px;
                        border: none;
                        background-color: transparent;
                        background-position: center;
                        background-size: cover;
                        background-repeat: no-repeat;
                        filter: invert(100%);
                        cursor: pointer;
                    }

                    .show {
                        background-image: url("../../assets/icons/olho-1.png");
                    }

                    .hide {
                        background-image: url("../../assets/icons/olho-2.png");
                    }

                    @include m-screen(1200px) {
                        width: 10%;
                    }
                }
            }

            .button-box {
                width: 100%;
                @include flex(row, flex-end, center);

                button {
                    height: 40px;
                    width: 140px;
                    background-color: $primary-color-orange;
                    border: none;
                    border-radius: 3px;
                    @include font-inter(400);
                    font-size: 0.9rem;
                    color: $secondary-color-dark;
                    border: solid 1px $primary-color-orange;
                    cursor: pointer;
                    transition: 0.1s linear;
                    margin-right: 20px;

                    &:hover,
                    &:last-child {
                        background-color: $secondary-color-dark;
                        color: $primary-color-orange;
                    }
                }

                @include m-screen(1800px) {
                    margin-top: 20px;
                }
                @include m-screen(600px) {
                    @include flex(row, flex-end, center);
                }
            }

            h2 {
                @include font-inter(700);
                font-size: 1.5rem;
                color: $secondary-color-orange;
                margin: 20px 0px 10px 0px;
            }

            .activity {
                background-color: $terciary-color-dark;
                padding: 15px;
                border-radius: 8px;
                margin-bottom: 20px;
                @include flex(column, flex-start, start);

                p {
                    font-size: 1rem;
                    margin-bottom: 10px;
                    strong {
                        font-weight: 500;
                    }
                }

                button {
                    height: 40px;
                    width: 100px;
                    margin-right: 10px;
                    background-color: $primary-color-orange;
                    border: none;
                    border-radius: 3px;
                    @include font-inter(400);
                    font-size: 0.9rem;
                    color: $secondary-color-dark;
                    cursor: pointer;
                    transition: background-color 0.2s linear;

                    &:hover {
                        background-color: $secondary-color-dark;
                        color: $primary-color-orange;
                    }
                }
            }

            .activity.editMode {
                input {
                    background-color: $primary-color-dark;
                    border: none;
                    border-radius: 5px;
                    padding: 10px;
                    margin-bottom: 10px;
                    color: $font-color-dark;
                    @include font-inter(400);
                    font-size: 1rem;
                    width: 100%;
                }
            }

            .editMode,
            .viewMode {
                button {
                    margin-top: 10px;
                }
            }

            [v-show="showAddForm"] {
                input {
                    background-color: $primary-color-dark;
                    border: none;
                    border-radius: 5px;
                    padding: 10px;
                    margin-bottom: 10px;
                    color: $font-color-dark;
                    @include font-inter(400);
                    font-size: 1rem;
                    width: 100%;
                }

                button {
                    margin-top: 10px;
                }
            }

            > button {
                height: 40px;
                width: 180px;
                background-color: $primary-color-orange;
                border: none;
                border-radius: 3px;
                @include font-inter(400);
                font-size: 0.9rem;
                color: $secondary-color-dark;
                cursor: pointer;
                transition: background-color 0.2s linear;

                &:hover {
                    background-color: $secondary-color-dark;
                    color: $primary-color-orange;
                }
            }
        }
    }
}
