main {
    height: calc(100vh - 80px);
    background-color: $primary-color-dark;
    @include flex(row, flex-start, start);
    .content {
        @include flex(column, flex-start, start);
        padding: 20px 100px;
        width: calc(100% - 300px);

        .editButtons {
            @include flex-center;
            z-index: 2;
            position: absolute;
            top: 10px;
            right: 10px;

            button {
                @include flex-center;
                margin-inline-end: 10px;
                background-color: transparent;
                border: none;
                border-radius: 5px;
                padding: 4px 6px;
                color: $font-color-dark;
                @include font-inter(700);
                box-shadow: 0px 0px 2px $font-color-dark-2;

                > * {
                    margin-inline-end: 3px;
                }

                > img {
                    height: 18px;
                    width: 18px;
                    object-fit: cover;
                    filter: invert(100%);
                }

                &:hover {
                    background-color: $primary-color-dark;
                    box-shadow: 0px 0px 4px $font-color-dark-2;
                }
            }
        }

        .capaEdit {
            @include flex(row, flex-end, start);
            position: absolute;
            top: 0;
            right: 0;
            width: 100%;
            height: 66.66%;
            border-radius: 6px;

            .inputUpload {
                @include flex(row, center, center);
                position: absolute;
                width: 100%;
                height: 100%;
                background-color: rgba(0, 0, 0, 0.664);

                input {
                    z-index: 2;
                    width: 100%;
                    height: 100%;
                    background-color: rgba(0, 0, 0, 0.664);
                    opacity: 0;
                }

                img{
                    z-index: 1;
                    position: absolute;
                    height: 40px;
                    width: 40px;
                    filter: invert(100%);
                }
            }

            button {
                margin: 10px;
                z-index: 3;
            }
        }

        .capa {
            width: 100%;
            height: 400px;
            position: relative;

            .capaProfile {
                height: 66.66%;
                border-radius: 6px;
                background-color: $secondary-color-dark;

                > img {
                    height: 100%;
                    width: 100%;
                    border-radius: 6px;
                    @include flex-center;
                    object-fit: cover;
                }
            }

            .infoProfile {
                z-index: 2;
                position: relative;

                .editButtons {
                    @include flex-center;
                    z-index: 2;
                    position: absolute;
                    top: 100px;
                    right: auto;
                }
                @include flex(row, flex-start, center);
                > img {
                    @include flex-center;
                    position: absolute;
                    bottom: 0;
                    height: 250px;
                    width: 250px;
                    object-fit: cover;
                    border-radius: 50%;
                    background-color: $terciary-color-dark;
                }

                .info {
                    @include flex(column, center, flex-start);
                    margin-left: 250px;
                    padding: 10px 20px;

                    .box1 h1 {
                        @include font-inter(300);
                        font-size: 2rem;
                        color: $font-color-dark;
                    }
                    .box2 {
                        @include flex(row, flex-start, center);

                        p {
                            margin-inline-end: 10px;
                            @include font-inter(300);
                            font-size: 1rem;
                            color: $font-color-dark-2;
                        }
                    }
                }
            }
        }

        .sobreMim {
            @include flex(column, flex-start, start);
            width: 100%;

            h2 {
                @include font-inter(700);
                font-size: 1.5rem;
                color: $secondary-color-orange;
                margin: 20px 0px 10px 0px;
            }

            > div {
                position: relative;
                width: 100%;
                background-color: $secondary-color-dark;
                padding: 20px;
                border-radius: 6px;

                p,
                textarea {
                    margin-inline-end: 10px;
                    @include font-inter(300);
                    font-size: 1rem;
                    color: $font-color-dark-2;
                    min-height: 300px;
                }

                textarea {
                    background-color: transparent;
                    border: none;
                    outline: none;
                    min-width: 100%;
                    height: auto;
                    resize: none;
                }
                > .editButtons {
                    position: absolute;
                    top: auto;
                    bottom: 10px;
                    right: 10px;
                }
            }
        }
    }
}
