main {
    height: calc(100vh - 80px);
    background-color: $primary-color-dark;
    @include flex-center;
}

.path {
    width: 100%;
    @include flex(row, flex-start, center);

    font-size: 0.9rem;
    @include font-inter(300);
    margin-bottom: 20px;
    > p {
        @include flex(column, center, center);
        @include font-inter(400);

        &:after {
            width: 100%;
            height: 3px;
            margin-top: 3px;
            background-color: $secondary-color-orange;
        }

        &:hover::after {
            animation: none;
        }
    }

    img {
        @include flex(column, center, center);
        width: 15px;
        transform: rotate(180deg);
        filter: invert(100%);
        margin-inline: 20px;
    }
}

.table {
    display: flex;
    flex-direction: column;
    width: 100%;

    .table-header {
        border-left: 3px solid $secondary-color-orange;
        .table-cell {
            @include font-inter(600);
        }
    }

    .table-row {
        display: flex;
        flex-direction: row;
        border-bottom: 1px dashed $font-color-dark-2;
    }

    .table-row1{
        border-bottom: 0px solid $font-color-dark;
    }

    .table-cell {
        flex: 1;
        padding: 8px;
        font-size: 1rem;
        @include font-inter(300);
        color: $font-color-dark;
    }
}
