.Cards {
    background-color: $terciary-color-dark;
    padding: 100px;
    min-height: 400px;

    @include flex(column, flex-start, center);

    h1,
    h2 {
        width: 80%;
    }

    h1 {
        font-size: 2rem;
        @include font-inter(700);
        color: $secondary-color-orange;
    }

    h2 {
        font-size: 1.3rem;
        @include font-inter(300);
        color: $font-color-dark-2;
    }

    .wrapper {
        max-width: 1100px;
        width: 100%;
        margin: 80px 0px 20px 0px;
        position: relative;
    }

    .wrapper i {
        height: 100%;
        width: 50px;
        top: 0px;
        cursor: pointer;
        position: absolute;
        background-image: url("../assets/icons/angulo.png");
        background-position: center;
        background-size: 50px;
        background-repeat: no-repeat;
        filter: invert(100%);
        opacity: 0.7;
        transition: transform 0.1s linear;
    }

    .wrapper i:first-child {
        left: -22px;
    }

    .wrapper i:last-child {
        right: -22px;
        transform: rotatey(180deg);
    }

    .wrapper .carousel {
        display: grid;
        grid-auto-flow: column;
        grid-auto-columns: calc((100% / 3) - 12px);
        overflow-x: auto;
        scroll-snap-type: x mandatory;
        gap: 16px;
        border-radius: 8px;
        scroll-behavior: smooth;
        @include prefixer(scrollbar-width, none);

        &::-webkit-scrollbar {
            display: none;
        }

        &.no-transition {
            scroll-behavior: auto;
        }

        &.dragging {
            scroll-snap-type: none;
            scroll-behavior: auto;

            .card {
                cursor: grab;
                @include prefixer(user-select, none);
            }
        }

        :where(.card, .img) {
            @include flex(column, center, flex-start);
        }

        .card {
            scroll-snap-align: start;
            height: 342px;
            list-style: none;
            background: $secondary-color-dark;
            cursor: pointer;
            padding-bottom: 15px;
            flex-direction: column;
            border-radius: 8px;

            .img {
                background: $primary-color-dark;
                height: 80%;
                width: 100%;
                border-radius: 8px 8px 0px 0px;

                img {
                    width: 140px;
                    height: 140px;
                    border-radius: 50%;
                    object-fit: cover;
                }
            }

            h2 {
                @include font-inter(400);
                font-size: 1.5rem;
                color: $font-color-dark;
                padding: 10px;
            }

            span {
                @include font-inter(200);
                font-size: 0.9rem;
                color: $font-color-dark-2;
                padding: 10px;
            }
        }
    }

    @media screen and (max-width: 900px) {
        .wrapper .carousel {
            grid-auto-columns: calc((100% / 2) - 9px);
        }
    }

    @media screen and (max-width: 600px) {
        .wrapper .carousel {
            grid-auto-columns: 100%;
        }
    }
}
