footer {
    background-color: $primary-color-dark;
    height: 250px;
    @include flex(column, space-evenly, center);
    @include font-inter(200);
    @include m-screen(1400px) {
        font-size: 0.8rem;
        height: 200px;
    }
    @include m-screen(1120px) {
        font-size: 0.7rem;
        height: 180px;
    }
    img {
        height: 40px;
        @include m-screen(1400px) {
            height: 34px;
        }
        @include m-screen(1120px) {
            height: 30px;
        }
    }

    nav ul {
        margin: 0px;
        @include flex(row, center, center);

        li {
            margin: 0px 10px;

            a {
                margin: 0px;
                text-decoration: none;
                transition: 0.1s linear;
                color: $font-color-dark-2;
                font-size: 1rem;
                @include font-inter(700);

                &:hover {
                    color: $secondary-color-orange;
                }
            }
        }
    }

    > li {
        height: 1px;
        background-color: $font-color-dark-2;
        width: 90%;
    }

    > p {
        color: $font-color-dark-2;
        font-size: 1rem;
        @include font-inter(700);
    }
}
