header {
    background-color: transparent;
    padding: 10px 80px;
    height: 80px;
    @include flex(row, space-between, center);
    background-color: $secondary-color-dark;
    @include m-screen(600px) {
        padding: 10px 40px;
    }
    @include m-screen(500px) {
        padding: 5px 30px;
    }

    div {
        width: 100px;
        @include m-screen(500px) {
            width: 80px;
        }

        img {
            height: 100%;
            width: 100%;
            @include flex(row, center, center);
        }
    }

    nav {
        > ul {
            @include flex(row, center, center);
            list-style-type: none;
            @include m-screen(800px) {
                @include flex(row-reverse, center, center);
            }

            > li {
                @include m-screen(800px) {
                    display: none;
                }
            }

            > li:last-child {
                @include m-screen(800px) {
                    display: block;
                }
            }

            .hamburger {
                display: none;
                height: 25px;
                width: 25px;
                button {
                    height: 100%;
                    width: 100%;
                    background-color: transparent;
                    border: none;
                    filter: invert(100%);
                    img {
                        height: 100%;
                        width: 100%;
                        object-fit: cover;
                    }
                }
                @include m-screen(800px) {
                    display: block;
                }
            }

            li a {
                margin-inline: 10px;
                text-decoration: none;
                text-transform: uppercase;
                color: $font-color-dark;
                font-size: 0.8rem;
                margin-top: 2px;
                @include flex(column, center, flex-start);
                @include font-inter(400);
                @include line;
                @include m-screen(1120px) {
                    font-size: 0.7rem;
                    margin-inline: 8px;
                }
            }

            li:nth-child(2) {
                cursor: pointer;
            }

            > li:last-child a {
                background-color: $primary-color-orange;
                padding: 10px 20px;
                border-radius: 20px;
                color: $secondary-color-dark;
                border: solid 1px $primary-color-orange;
                transition: 0.1s linear;
                @include line;
                @include flex-center;
                @include m-screen(1120px) {
                    padding: 8px 18px;
                }

                &:after {
                    height: 0;
                }

                &:hover {
                    background-color: transparent;
                    header {
                        background-color: transparent;
                        padding: 10px 80px;
                        height: 80px;
                        @include flex(row, space-between, center);
                        background-color: $secondary-color-dark;

                        div {
                            width: 100px;

                            img {
                                height: 100%;
                                width: 100%;
                                @include flex(row, center, center);
                            }
                        }

                        nav {
                            > ul {
                                @include flex(row, center, center);
                                list-style-type: none;

                                li a {
                                    margin-inline: 10px;
                                    text-decoration: none;
                                    text-transform: uppercase;
                                    color: $font-color-dark;
                                    font-size: 0.8rem;
                                    @include flex(column, center, flex-start);
                                    @include font-inter(400);
                                    @include line;
                                }

                                li:nth-child(2) {
                                    cursor: pointer;
                                }

                                > li:last-child a {
                                    background-color: $primary-color-orange;
                                    padding: 10px 20px;
                                    border-radius: 20px;
                                    color: $secondary-color-dark;
                                    border: solid 1px $primary-color-orange;
                                    transition: 0.1s linear;
                                    @include line;
                                    @include flex-center;

                                    &:after {
                                        height: 0;
                                    }

                                    &:hover {
                                        background-color: transparent;
                                        border: solid 1px $primary-color-orange;
                                        color: $primary-color-orange;
                                    }
                                }
                            }

                            div {
                                position: absolute;
                                margin-top: 10px;
                                background-color: $primary-color-dark;
                                @include flex(column, center, flex-start);
                                @include font-inter(200);
                                border-radius: 5px;

                                ul {
                                    list-style-type: none;
                                    padding: 0;

                                    li {
                                        padding: 10px 0px;
                                        color: $font-color-dark;
                                        cursor: pointer;

                                        a {
                                            font-size: 0.7rem;

                                            &:after {
                                                height: 0;
                                            }
                                        }
                                    }
                                }
                            }
                        }
                    }
                    border: solid 1px $primary-color-orange;
                    color: $primary-color-orange;
                }
            }
        }

        div {
            position: absolute;
            margin-top: 10px;
            background-color: $primary-color-dark;
            @include flex(column, center, flex-start);
            @include font-inter(200);
            border-radius: 5px;

            ul {
                list-style-type: none;
                padding: 0;

                li {
                    padding: 10px 0px;
                    color: $font-color-dark;
                    cursor: pointer;

                    a {
                        font-size: 0.7rem;

                        &:after {
                            height: 0;
                        }
                    }
                }
            }
        }
    }
}
