main {
    height: calc(100vh - 80px);
    background-color: $primary-color-dark;
    @include flex-center;
    @include m-screen(1000px) {
        @include flex(column, center, center);
    }
}

.boxSucess {
    width: 50%;
    min-height: 30%;
    @include flex-center;
    @include m-screen(1400px) {
        width: 70%;
    }
    @include m-screen(1200px) {
        width: 90%;
    }
    @include m-screen(900px) {
        width: 100%;
    }

    .img {
        width: 30%;
        height: 100%;
        background-image: url(../../assets/imgs/imageMain.png);
        background-position: center;
        background-size: 100%;
        background-repeat: no-repeat;
    }

    .info {
        width: 70%;
        height: 100%;
        @include flex(column, flex-start, start);
        padding: 20px;
        @include m-screen(1400px) {
            width: 90%;
        }
        @include m-screen(1200px) {
            width: 100%;
        }

        h1 {
            width: 80%;
            font-size: 2rem;
            @include font-inter(300);
            color: $font-color-dark;
            @include m-screen-h1;
            @include m-screen(1400px) {
                width: 90%;
            }
            @include m-screen(1200px) {
                width: 100%;
            }
        }

        .p {
            margin-top: 10px;
            width: 80%;
            font-size: 1rem;
            @include font-inter(300);
            color: $font-color-dark-2;
            @include m-screen(1400px) {
                width: 90%;
            }
            @include m-screen(1200px) {
                width: 100%;
            }
        }

        .code {
            display: inline;
            margin-top: 0;
            width: auto;
            font-size: 1rem;
            @include font-inter(300);
            color: $primary-color-orange;
        }

        a {
            border: none;
            cursor: pointer;
            text-decoration: none;
            height: 40px;
            width: 140px;
            color: $secondary-color-dark;
            border: solid 1px $primary-color-orange;
            background-color: $primary-color-orange;
            font-size: 0.9rem;
            border-radius: 3px;
            margin-top: 20px;
            transition: 0.1s linear;
            @include font-inter(400);
            @include flex-center;

            &:hover {
                background-color: $secondary-color-dark;
                color: $primary-color-orange;
            }
        }
    }
    .img {
        height: 30%;
    }
}
