main {
    height: calc(100vh - 80px);
    background-color: $primary-color-dark;
    @include flex(row, flex-start, start);
    overflow: hidden;
    flex: 1;

    .content {
        @include flex(column, flex-start, start);
        padding: 20px 100px 40px 100px;
        width: calc(100% - 300px);
        flex: 1;
        height: calc(100vh - 80px);
        overflow-y: auto;

        @media (max-width: 1000px) {
            width: calc(100% - 100px);
        }

        @include m-screen(1300px) {
            padding: 20px 50px;
        }

        @include m-screen(700px) {
            padding: 20px 30px;
        }

        .capaEdit {
            @include flex(row, flex-end, start);
            position: absolute;
            top: 0;
            right: 0;
            width: 100%;
            height: 66.66%;
            border-radius: 6px;
        }

        .capa {
            width: 100%;
            height: 400px;
            position: relative;

            @include m-screen(1300px) {
                height: 300px;
            }

            .capaProfile {
                height: 66.66%;
                border-radius: 6px;
                background-color: $secondary-color-dark;

                > img {
                    height: 100%;
                    width: 100%;
                    border-radius: 6px;
                    @include flex-center;
                    object-fit: cover;
                }
            }

            .infoProfile {
                @include flex(row, flex-start, center);
                z-index: 2;
                position: relative;

                > img {
                    @include flex-center;
                    position: absolute;
                    bottom: 0;
                    height: 250px;
                    width: 250px;
                    object-fit: cover;
                    border-radius: 50%;
                    background-color: $terciary-color-dark;

                    @include m-screen(1300px) {
                        height: 200px;
                        width: 200px;
                    }

                    @include m-screen(760px) {
                        height: 180px;
                        width: 180px;
                    }
                }

                .info {
                    @include flex(column, center, flex-start);
                    margin-left: 250px;
                    padding: 10px 20px;

                    @include m-screen(1300px) {
                        margin-left: 200px;
                    }

                    @include m-screen(700px) {
                        margin-left: 170px;
                    }


                    .box1 h1 {
                        @include font-inter(300);
                        font-size: 2rem;
                        color: $font-color-dark;

                        @include m-screen(1300px) {
                            font-size: 1.6rem;
                        }
                        @include m-screen(760px) {
                            font-size: 1.4rem;
                        }
                    }
                    .box2 {
                        @include flex(row, flex-start, center);

                        p {
                            margin-inline-end: 10px;
                            @include font-inter(300);
                            font-size: 1rem;
                            color: $font-color-dark-2;

                            @include m-screen(760px) {
                                font-size: 0.9rem;
                            }
                        }

                        button {
                            background-color: $secondary-color-orange;
                            color: $primary-color-dark;
                            border-radius: 5px;
                            padding: 5px 10px;
                            border: none;
                            cursor: pointer;
                            @include font-inter(400);
                        }
                    }
                }
            }
        }

        .sobreMim {
            @include flex(column, flex-start, start);
            width: 100%;

            h2 {
                @include font-inter(700);
                font-size: 1.5rem;
                color: $secondary-color-orange;
                margin: 20px 0px 10px 0px;

                @include m-screen(760px) {
                    font-size: 1.3rem;
                }
            }

            > div {
                position: relative;
                width: 100%;
                background-color: $secondary-color-dark;
                padding: 20px;
                border-radius: 6px;

                p,
                textarea {
                    margin-inline-end: 10px;
                    @include font-inter(300);
                    font-size: 1rem;
                    color: $font-color-dark-2;
                    min-height: 300px;

                    @include m-screen(760px) {
                        font-size: 0.9rem;
                    }
                }
            }
        }

        .extracurriculares {
            margin-top: 40px;
            padding: 20px;
            color: $font-color-dark;
            @include flex(column, flex-start, start);
            width: 100%;

            h2 {
                @include font-inter(700);
                font-size: 1.5rem;
                color: $secondary-color-orange;
                margin: 20px 0px 20px 0px;
                text-align: center;
            }

            .activities {
                display: flex;
                flex-wrap: wrap;
                gap: 20px;
                justify-content: flex-start;

                .input-box {
                    @include flex(row, center, center);
                    width: 100%;
                    padding: 10px;
                    border-radius: 5px;
                    background-color: $terciary-color-dark;
                    border-left: solid 3px $terciary-color-dark;
                    margin-bottom: 10px;

                    &.focused {
                        border-left: solid 3px $secondary-color-orange;
                        border-radius: 0px 5px 5px 0px;
                    }

                    label {
                        letter-spacing: 1.5px;
                        @include font-inter(200);
                        font-size: 0.8rem;
                        color: $font-color-dark-2;
                    }

                    p {
                        background-color: transparent;
                        width: 90%;
                        margin-top: 5px;
                        outline: none;
                        color: $font-color-dark;
                        border: none;
                        @include font-inter(400);
                        font-size: 1rem;
                        @include flex(row, flex-start, center);
                    }

                    input {
                        background-color: transparent;
                        width: 100%;
                        margin-top: 5px;
                        outline: none;
                        color: $font-color-dark;
                        border: none;
                        @include font-inter(400);
                        font-size: 1rem;
                    }

                    textarea {
                        background-color: transparent;
                        border: none;
                        width: 100%;
                        outline: none;
                    }

                    .d1 {
                        width: 95%;
                    }

                    .d2 {
                        width: 5%;

                        button {
                            height: 20px;
                            width: 20px;
                            border: none;
                            background-color: transparent;
                            background-position: center;
                            background-size: cover;
                            background-repeat: no-repeat;
                            filter: invert(100%);
                            cursor: pointer;
                        }

                        .show {
                            background-image: url("../../assets/icons/olho-1.png");
                        }

                        .hide {
                            background-image: url("../../assets/icons/olho-2.png");
                        }

                        @include m-screen(1200px) {
                            width: 10%;
                        }
                    }
                }
            }

            button {
                margin-top: 15px;
            }

            .activity {
                background-color: $terciary-color-dark;
                padding: 15px;
                border-radius: 8px;
                margin-bottom: 5px;
                @include flex(column, flex-start, flex-start);
                flex: 1 1 300px;
                max-width: 400px;

                p {
                    @include flex(row, flex-start, center);
                    font-size: 1rem;
                    margin: 5px 0;
                    color: $font-color-dark;
                    @include font-inter(300);
                    word-wrap: break-word;
                    overflow-wrap: break-word;
                    width: 100%;
                    max-width: 100%;

                    strong {
                        font-weight: 500;
                        margin-right: 5px;
                    }
                }

                button {
                    background-color: transparent;
                    border: none;
                    color: $primary-color-orange;
                    @include font-inter(300);
                    font-size: 0.9rem;
                    cursor: pointer;
                    transition: 0.1s linear;
                    margin: 10px 5px;

                    &:hover {
                        color: darken($primary-color-orange, 10%);
                    }

                    &:last-child {
                        color: $secondary-color-orange;
                    }
                }
            }

            > button {
                background-color: $primary-color-orange;
                border: none;
                border-radius: 3px;
                @include font-inter(400);
                font-size: 0.9rem;
                color: $secondary-color-dark;
                cursor: pointer;
                padding: 10px;
                transition: background-color 0.2s linear;

                &:hover {
                    background-color: $secondary-color-dark;
                    color: $primary-color-orange;
                }
            }

            @media (max-width: 600px) {
                .activity {
                    padding: 10px;

                    p {
                        font-size: 0.9rem;
                    }

                    button {
                        font-size: 0.8rem;
                    }
                }

                .button-box button {
                    padding: 6px 10px;
                }
            }
        }
    }
}
