main {
    @include flex(row, flex-start, start);
    min-height: calc(100vh - 80px);
    background-color: $primary-color-dark;
    .content {
        min-height: calc(100vh - 80px);
        width: 100%;
        background-color: $primary-color-dark;
        @include flex(column, flex-start, start);
        padding: 20px 100px;

        @include m-screen(1100px) {
            padding: 20px 50px;
        }

        @include m-screen(630px) {
            padding: 10px 40px;
        }

        .back-button {
            @include flex(row, flex-end, center);
            width: 100%;
            margin-bottom: 20px;

            a {
                @include flex(row, flex-end, center);
                text-decoration: none;
                color: $font-color-dark;
                @include font-inter(700);
                font-size: 1rem;

                img {
                    height: 15px;
                    margin-right: 5px;
                    filter: invert(100%);
                }
            }
        }

        .vaga {
            width: 80%;
            @include flex(column, stretch, start);

            @include m-screen(950px) {
                width: 100%;
            }

            .main-information {
                @include flex(row, flex-start, start);

                @include m-screen(550px) {
                    @include flex(column, flex-start, start);
                }

                .enterprise {
                    @include flex(row, flex-start, center);
                    img {
                        @include flex(row, center, center);
                        width: 70px;
                        height: 70px;
                        border-radius: 50%;
                        margin-right: 20px;
                        background-color: $secondary-color-orange;
                    }

                    .info-enterprise {
                        @include flex(column, flex-start, start);
                        strong {
                            @include font-inter(300);
                            font-size: 0.9rem;
                            color: $font-color-dark-2;
                            margin-bottom: 10px;
                        }

                        a {
                            @include flex(row, flex-start, center);
                            text-decoration: none;
                            color: $font-color-dark;
                            @include font-inter(700);
                            font-size: 1rem;
                        }
                    }
                }

                .remuneracao {
                    @include flex(column, center, start);
                    margin-left: 50px;
                    height: 70px;

                    @include m-screen(550px) {
                        margin-left: 0px;
                        margin-top: 10px;
                    }

                    strong {
                        @include font-inter(300);
                        font-size: 0.9rem;
                        color: $font-color-dark-2;
                        margin-bottom: 10px;
                    }

                    span {
                        @include flex(row, flex-start, center);
                        color: $secondary-color-orange;
                        @include font-inter(700);
                        font-size: 1rem;

                        @include m-screen(450px) {
                            font-size: .9rem;
                        }
                    }
                }
            }

            .vaga-header {
                @include flex(row, flex-start, center);

                @include m-screen(550px) {
                    @include flex(column, flex-start, start);
                    margin-bottom: 15px;
                }

                h3 {
                    @include font-inter(700);
                    font-size: 2rem;
                    color: $secondary-color-orange;
                    margin-right: 20px;
                }

                .status {
                    @include font-inter(300);
                    font-size: 1rem;
                    color: $font-color-dark-2;
                }
            }

            h2 {
                @include font-inter(600);
                color: $font-color-dark;
                margin-bottom: 10px;
            }

            .vaga-info {
                margin-top: 20px;

                h2 {
                    @include font-inter(600);
                    color: $font-color-dark;
                    margin-bottom: 10px;
                }

                .requisitos,
                .beneficios {
                    list-style: none;
                    padding: 0;
                    margin: 0;

                    li {
                        margin-bottom: 5px;

                        p {
                            @include font-inter(300);
                            font-size: 1rem;
                            color: $font-color-dark-2;
                        }
                    }
                }

                .vaga-details,
                .vaga-remuneracao {
                    margin-top: 20px;

                    p {
                        @include font-inter(300);
                        font-size: 1rem;
                        color: $font-color-dark-2;

                        strong {
                            font-weight: 700;
                        }
                    }
                }

                .descricao {
                    margin-top: 20px;
                    margin-bottom: 20px;

                    p {
                        @include font-inter(300);
                        font-size: 1rem;
                        color: $font-color-dark-2;
                    }
                }
            }
        }
    }
}
