#app {
    height: 100vh;

    main {
        @include flex(row, flex-start, start);
        height: calc(100vh - 80px);
        background-color: $primary-color-dark;

        .content {
            @include flex(column, flex-start, start);
            width: calc(100% - 300px);
            height: 100%;

            @include m-screen(1200px) {
                width: 100%;
            }

            .search {
                @include flex(row, center, start);
                height: 50px;
                width: 62%;
                padding: 20px 30px 20px 80px;

                .box {
                    @include flex(row, cen, start);
                    height: 50px;
                    border-radius: 25px;
                    width: calc(100% - 40px);
                    background-color: $secondary-color-dark;

                    input {
                        color: $font-color-dark-2;
                        width: 94%;
                        height: 100%;
                        padding-inline: 15px;
                        outline: none;
                        background: transparent;
                        border: none;
                        font-size: medium;
                    }

                    button {
                        @include flex-center;
                        height: 100%;
                        background-color: transparent;
                        border: none;

                        img {
                            height: 55%;
                            object-fit: cover;
                            opacity: 0.8;
                            filter: invert(100%);
                        }
                    }
                }
            }

            > .box {
                @include flex(column, flex-start, end);
                padding: 50px 0px 0px 100px;
                width: 70%;
                height: 100%;

                @include m-screen(1600px) {
                    width: 80%;
                }

                @include m-screen(1200px) {
                    width: 90%;
                }

                .resultado {
                    @include flex(column, center, end);
                    text-align: right;
                    color: $secondary-color-orange;
                    margin-right: 10px;
                    margin-bottom: 20px;
                    font-size: small;
                    font-weight: 200;
                    width: 100%;
                    @include font-inter(600);
                }

                .vaga {
                    @include flex(column, flex-end, start);
                    width: 100%;
                    height: 140px;
                    border-left: solid 5px $secondary-color-orange;
                    margin-bottom: 10px;

                    a {
                        @include flex(row, flex-start, start);
                        width: 100%;
                        height: 100%;
                        background-color: $secondary-color-dark;
                        padding: 15px;
                        border-radius: 5px;
                        text-decoration: none;
                        color: $font-color-dark;

                        img {
                            height: 60px;
                            width: 60px;
                            object-fit: cover;
                            border-radius: 50%;
                            margin-right: 20px;
                        }

                        .infoVaga {
                            @include flex(row, space-between, start);
                            width: calc(100% - 60px);
                            height: 100%;

                            .who {
                                color: $primary-color-orange;
                                margin-right: 10px;
                                margin-bottom: 10px;
                            }

                            .contentVaga {
                                @include flex(column, flex-start, start);
                                width: 80%;

                                .info {
                                    @include flex(row, start, start);
                                    width: 100%;

                                    label {
                                        @include font-inter(300);
                                        color: $font-color-dark-2;
                                        min-width: 30%;
                                    }

                                    p {
                                        @include font-inter(300);
                                        color: $font-color-dark;
                                    }
                                }
                            }

                            .box-button {
                                height: 100%;
                                @include flex(column, center, center);

                                button {
                                    background-color: $primary-color-orange;
                                    padding: 10px 20px;
                                    border-radius: 10px;
                                    color: $secondary-color-dark;
                                    border: solid 1px $primary-color-orange;
                                }
                            }
                        }

                        p {
                            @include font-inter(600);
                        }
                    }
                }
            }
        }
    }
}
