#app {
    main {
        @include flex(row, center, start);
        height: calc(100vh - 80px);
        background-color: $primary-color-dark;

        .content {
            @include flex(column, flex-start, start);
            width: calc(100% - 300px);
            height: 100%;
            overflow-y: auto;


            @include m-screen(1300px) {
                width: 100%;
            }

            .search {
                @include flex(row, center, start);
                width: 100%;
                max-width: 1000px;
                padding: 80px 30px 20px 80px;

                @include m-screen(800px) {
                    padding: 80px 30px 20px 20px;
                }

                @include m-screen(520px) {
                    padding: 80px 10px 20px 10px;
                }
                
                @include m-screen(400px) {
                    padding: 40px 25px 20px 25px;
                }

                .box {
                    @include flex(row, cen, start);
                    height: 50px;
                    border-radius: 25px;
                    width: calc(100% - 40px);
                    background-color: $secondary-color-dark;

                    @include m-screen(400px) {
                        width: 100%;
                    }

                    input {
                        color: $font-color-dark-2;
                        width: 94%;
                        height: 100%;
                        padding-inline: 15px;
                        outline: none;
                        background: transparent;
                        border: none;
                        font-size: medium;
                    }

                    button {
                        @include flex-center;
                        height: 100%;
                        background-color: transparent;
                        border: none;
                        margin-right: 18px;

                        img {
                            height: 55%;
                            object-fit: cover;
                            opacity: 0.8;
                            filter: invert(100%);
                        }
                    }
                }
            }

            > .box {
                @include flex(column, flex-start, start);
                padding: 50px 0px 0px 100px;
                width: 70%;
                max-height: 100%;
                margin-bottom: 100px;

                &::-webkit-scrollbar {
                    width: 0px;
                }
            
                &::-webkit-scrollbar-track {
                    background: transparent;
                }
            
                &::-webkit-scrollbar-thumb {
                    background: rgba(0, 0, 0, 0.2);
                    border-radius: 10px;
                }

                scrollbar-width: thin;
                scrollbar-color: rgba(0, 0, 0, 0) transparent;


                @include m-screen(1570px) {
                    width: 80%;
                }

                @include m-screen(1400px) {
                    width: 90%;
                }

                @include m-screen(800px) {
                    padding: 40px 30px 20px 45px;
                }

                @include m-screen(520px) {
                    padding: 40px 10px 20px 35px;
                }

                @include m-screen(400px) {
                    width: 100%;
                    padding: 40px 25px 20px 25px;
                }

                .resultado {
                    @include flex(column, center, end);
                    text-align: right;
                    color: $secondary-color-orange;
                    margin-right: 10px;
                    margin-bottom: 20px;
                    font-size: small;
                    font-weight: 200;
                    width: 100%;
                    @include font-inter(600);
                }

                .vaga {
                    @include flex(column, flex-end, start);
                    width: 100%;
                    height: 180px;
                    border-left: solid 5px $secondary-color-orange;
                    margin-bottom: 25px;

                    @include m-screen(1000px) {
                        height: auto;
                    }

                    a {
                        @include flex(row, space-between, start);
                        width: 100%;
                        height: 100%;
                        background-color: $secondary-color-dark;
                        padding: 15px;
                        border-radius: 5px;
                        text-decoration: none;
                        color: $font-color-dark;

                        img {
                            height: 60px;
                            width: 60px;
                            object-fit: cover;
                            border-radius: 50%;
                            margin-right: 20px;
                        }

                        .infoVaga {
                            @include flex(row, space-between, start);
                            width: 100%;
                            height: 100%;
                            padding-right: 20px;

                            @include m-screen(1000px) {
                                @include flex(row, space-between, center);  
                            }

                            @include m-screen(600px) {
                                @include flex(column, space-between, start);  
                            }

                            .who {
                                color: $primary-color-orange;
                                margin-right: 10px;
                                margin-bottom: 10px;
                            }

                            .contentVaga {
                                @include flex(column, flex-start, start);
                                width: calc(100% - 120px);

                                @include m-screen(600px) {
                                    width: 100%;
                                    margin-bottom: 10px;  
                                }

                                .info {
                                    @include flex(row, start, start);
                                    width: 100%;

                                    @include m-screen(1000px) {
                                        @include flex(column, start, start);
                                        margin-top: 5px;
                                    }

                                    label {
                                        @include font-inter(300);
                                        color: $font-color-dark-2;
                                        min-width: 30%;
                                    }

                                    p {
                                        @include font-inter(300);
                                        color: $font-color-dark;
                                    }
                                }
                            }

                            .box-button {
                                height: 100%;
                                @include flex(column, center, center);

                                @include m-screen(600px) {
                                    width: 100%;
                                    @include flex(column, center, end);
                                }

                                button {
                                    padding: 10px 20px;
                                    border-radius: 10px;
                                    font-size: 1rem;
                                    border: solid 1px $secondary-color-orange;
                                    background-color: $secondary-color-dark;
                                    color: $secondary-color-orange;
                                    
                                    &:hover {
                                        color: $secondary-color-dark;
                                        background-color: $secondary-color-orange;
                                    }
                                }
                            }
                        }

                        p {
                            @include font-inter(600);
                        }
                    }
                }
            }
        }
    }
}
