$font-color-light: #000000;
$font-color-dark: #fcf3ee;
$font-color-dark-2: #9c9794;
$bg-color-light: #fff0e6;
$bg-color-dark: #202020;

// Default Colors

$primary-color-dark: #161616;
$secondary-color-dark: #1a1a1a;
$terciary-color-dark: #202020;

$primary-color-orange: #ff872b;
$secondary-color-orange: #deb99b;
