@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap");

$font-color-light: #000000;
$font-color-dark: #fcf3ee;
$font-color-dark-2: #9c9794;
$bg-color-light: #fff0e6;
$bg-color-dark: #202020;

// Default Colors

$primary-color-dark: #161616;
$secondary-color-dark: #1a1a1a;
$terciary-color-dark: #202020;

$primary-color-orange: #ff872b;
$secondary-color-orange: #deb99b;

@mixin font-inter($weight) {
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
    font-weight: $weight;
    font-style: normal;
    font-variation-settings: "slnt" 0;
}

@mixin flex-center {
    display: flex;
    justify-content: center;
    align-items: center;
}

@mixin flex($direction, $justify, $align) {
    display: flex;
    flex-direction: $direction;
    justify-content: $justify;
    align-items: $align;
}

@mixin color($color, $bg-color) {
    color: $color;
    background-color: $bg-color;
}

@mixin theme-color($theme) {
    @if $theme=="light" {
        @include color($font-color-light,
        $bg-color-light);
    }
    @else if $theme=="dark" {
        @include color($font-color-dark,
        $bg-color-dark);
    }
}

@mixin line {
    &:after {
        content: '';
        width: 0px;
        height: 1px;
        display: flex;
        flex-direction: column;
        content: '';
        height: 2px;
        width: 0%;
        background-color: $primary-color-orange;
    }

    &:hover::after {
        animation: afterLoad .8s ease-out;
        width: 100%;
    }

    @keyframes afterLoad {
        0% {
            width: 0%;
        }

        100% {
            width: 100%;
        }
    }
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
}

body {
    overflow-x: hidden;
    min-height: 100vh;
    width: 100vw;
    display: flex;
    flex-direction: column;
}

main {
    min-height: calc(100vh - 80px);
}

img, button, a{
    -webkit-user-select: none;
    user-select: none;
}